{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Template</title>
    <link rel="stylesheet" href="{% static 'styles/cfehome-ui.css' %}">
    <link rel="stylesheet" href="{% static 'styles/test.css' %}">
</head>
<body>
<div class="flex flex-row h-full">
    <div data-entity-name="re_object_data" class="flex flex-col bg-white p-4 m-4 rounded-2xl align-items-center w-1/4">
        {% for field in object_fields %}
            {% include 'front/pages/sort_photos/object_field.html' with field=field %}
        {% endfor %}
        <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-4 mb-4 rounded focus:outline-none focus:shadow-outline"
                onclick="updateValues()"
        >
            Обновить порядок
        </button>
        <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-4 mb-4 rounded focus:outline-none focus:shadow-outline"
                onclick="goBack()"
        >
            Вернуться назад
        </button>
    </div>
    <div id="{{ re_object_uuid }}" data-entity-name="re_object"
         class="reobject-photo-container mx-auto w-3/4 py-4 px-16 h-screen overflow-y-scroll">
        {% for obj in images_objs %}
            {% include 'front/pages/sort_photos/obj.html' with obj=obj %}
        {% endfor %}
    </div>
</div>
<script src="{% static 'test.js' %}"></script>
</body>
</html>
